<template>
<b-col cols="2">
  <div class="corpo-sidebar">
    <div class="alinhamento-titulo">
        Loja Comp
    </div>
    <b-row>
      <b-col cols="12" class="centralizar">
        <b-col cols="10">
          <b-icon icon="house"></b-icon>
          <b-button class="texto-menu" variant="light" to='/'>Home</b-button>
        </b-col>
      </b-col>
      <b-col cols="12" class="centralizar">
        <b-col cols="10">
          <b-icon icon="box"></b-icon>
          <b-button class="texto-menu" variant="light" to='/estoque'>Estoque</b-button>
        </b-col>
      </b-col>
      <b-col cols="12" class="centralizar">
        <b-col cols="10">
          <b-icon icon="cart3"></b-icon>
          <b-button class="texto-menu" variant="light" to='/produtos'>Produtos</b-button>
        </b-col>
      </b-col>
    </b-row>
  </div>
</b-col>
</template>

<script>
export default {
};
</script>

<style lang='scss' scoped>
.corpo-sidebar {
  background-color: #f7f9fa;
  color: orangered;
  height: 100vh;
  font-size: 1.8rem;
  widows: 100%;
  padding-top: 5vh;
}
.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-menu {
  font-family: "Roboto", sans-serif;
  background-color: #f7f9fa;
  color: gray;
  border: none;
}
.texto-menu:focus {
  box-shadow: none;
}
.alinhamento-titulo{
    margin-left: 2rem;
    margin-bottom: 3rem;
}
</style>