<template>
  <div>
    <b-row >
      <b-col cols="3" v-for="item in items" v-bind:key="item.id">
        <b-card class="card-produto">
          <div class="nome-produto">
            <span>{{ item.nome }}</span>
          </div>
          <div class="preco-produto">
            <span>R$ {{item.preco}}</span>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { listarProdutos } from "../services/Produtos";

export default {
  beforeMount() {
    listarProdutos()
      .then((produtos) => {
        this.items = produtos.data;
      })
      .catch(() => {
        console.error("Erro ao carregar os produtos");
      });
  },
  data() {
    return {
      items: []
    };
  },
};
</script>

<style lang='scss' scoped>
.card-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10em;
}
.botoes-acao {
  margin-right: 5px;
}
.preco-produto {
  margin-bottom: 1rem;
}
.nome-produto {
  margin-bottom: 1rem;
}
</style>
