<template>
  <div class="corpo-layout">
    <b-row>
      <Sidebar />
      <b-col cols="10" class="corpo-itens-dashboard">
        <b-col cols="12" class="corpo-card">
          <b-row>
            <b-col cols="10" offset="1">
                <router-view></router-view>
            </b-col>
          </b-row>
        </b-col>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar";

export default {
  components: {
    Sidebar,
  },
  
};
</script>

<style lang='scss' scoped>
.corpo-layout {
  background-color: #ececec;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.corpo-card {
  width: 100%;
  height: 10rem;
  margin-top: 3vw;
}
</style>
