<template>
  <div>
    <b-table :items="items" :fields="fields">
      <template v-slot:cell(crud)>
        <b-button size="sm" class="botao-tabela-crud" variant="warning">
          <b-icon icon="pencil-fill"></b-icon>
        </b-button>
        <b-button size="sm" class="botao-tabela-crud" variant="danger">
          <b-icon icon="trash-fill"></b-icon>
        </b-button>
      </template>
    </b-table>
    <b-button
      size="sm"
      class="botao-tabela-crud"
      variant="success"
      v-b-modal.modal-1
    >
      Adicionar Novo Produto
      <b-icon icon="plus"></b-icon>
    </b-button>

    <b-modal id="modal-1" title="Adicionar novo produto" @ok="enviarForm">
      <b-form-group label="Nome">
        <b-form-input id="nome-input" v-model="form.nome" required></b-form-input>
      </b-form-group>
      <b-form-group label="Preco">
        <b-form-input id="preco-input" v-model="form.preco" required></b-form-input>
      </b-form-group>
    </b-modal>
  </div>
</template>

<script>
import { listarProdutos, adicionarProdutos } from "../services/Produtos";

export default {
  beforeMount() {
    listarProdutos()
      .then((produtos) => {
        this.items = produtos.data;
      })
      .catch(() => {
        console.error("Erro ao carregar os produtos");
      });
  },
  methods: {
    enviarForm() {
      adicionarProdutos(this.form)
        .then(() => {
          window.location.reload();
        })
        .catch(() => {
        console.error("Erro ao cadastrar o produto");
      });
    },
  },

  data() {
    return {
      items: [],
      form:{
        nome: "",
        preco: "",
      },
      fields: [
        {
          key: "id",
          label: "id",
          class: "text-center",
        },
        {
          key: "nome",
          label: "Produto",
          class: "text-center",
        },
        {
          key: "preco",
          label: "Preço",
          class: "text-center",
        },
        {
          key: "crud",
          label: "",
          class: "text-center",
        },
      ],
    };
  },
};
</script>

<style lang='scss' scoped>
.corpo-itens-dashboard {
  width: 100%;
  height: 30rem;
}
.botao-tabela-crud {
  margin-right: 1rem;
}
.preco-input {
  margin-top: 5px !important;
}
</style>
